@import '~bootstrap/scss/bootstrap';


.container_jumbo {
    height: 300px;
    overflow: hidden;

    img {
        object-fit: contain;
        width: 100%;
    }
}



footer {
    max-width: 100%;
    height: 350px;
    background-image: url(/resources/img/footer-bg.jpg);
    .footer_bar{
        background: #000;
        height: 75px;
    }
}